## Библиотека Pandas

In [5]:
import pandas as pd

In [8]:
frame = pd.DataFrame({
    'numbers':range(10),
    'chars': ['a']*10
})

In [10]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [15]:
frame = pd.read_csv('pandas_explain.csv', header= 0, sep= '\t')

In [17]:
frame.columns

Index([u'Name', u'Birth', u'City', u'Position'], dtype='object')

In [19]:
frame.shape

(6, 4)

In [23]:
new_line = {'Name': 'Petrov', 'Birth': '22.03.1990', 'City':'Penza'}
frame.append(new_line, ignore_index= True)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6           Petrov  22.03.1990      Penza       NaN

In [25]:
frame = frame.append(new_line, ignore_index= True)
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6           Petrov  22.03.1990      Penza       NaN
7           Petrov  22.03.1990      Penza       NaN

In [29]:
frame['IsStudent'] = [False]*5 + [True]*3
frame

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False
5     Костров С.О.  31.05.1985     Москва    стажер       True
6           Petrov  22.03.1990      Penza       NaN       True
7           Petrov  22.03.1990      Penza       NaN       True

In [39]:
frame.drop([5, 6, 7], axis= 0)

KeyError: '[5 6 7] not found in axis'

In [44]:
frame.drop('IsStudent', axis= 1, inplace= True)

KeyError: "['IsStudent'] not found in axis"

In [46]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер

In [48]:
frame.to_csv('updated_dataset.csv', sep = ',', header= True, index= None)

In [49]:
!cat updated_dataset.csv

Name,Birth,City,Position
Иванов А.А.,22.03.1980,Москва,
Сорокин И.В.,07.08.1965,Волгоград,инженер
Белов М.М.,13.02.1980,Ростов,менеджер
Мельникова Д.С.,15.04.1985,Ростов,
Рыбина Е.П.,19.11.1985,Москва,инженер